@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
    scroll-behavior: smooth;
}

body{
     height: 100vh;
     width: 100%;
}

 .header {
          position: fixed;
          top: 0;
          left: 0;
          padding: 20px 10%;
          display: flex;
          justify-content: space-between;
          width: 100%;
          align-items: center;
          background: #e8e7e7;
          box-shadow: 0 0 10px rgba(0,0,0,.4);
          z-index: 1;
}

.header .Logo{
               color: #222;
               font-size: 32px;
               font-weight: 600;
               text-decoration: none;
}

.header a span{
               color: #25ad61;
}

.header .navbar a{
                  color: #000;
                  text-decoration: none;
                  margin-left: 35px;
                  font-size: 18px;
                  font-weight: 500;
                  padding: 5px 10px;
                  border-radius: 5px;
}

.activity-section i{
                   color: #222;
                   font-size: 25px;
                   margin-left: 20px;
                   cursor: pointer;
                   padding: 10px;
                   border-radius: 50%;
                   transition: .3s;
}

.activity-section i:hover{
                          background: #25ad61;
                          color: #fff;
}

.btn{
      height: 40px;
      width: 140px;
      border-radius: 8px;
      background: #121b46;
      color: #fff;
      font-size: 16px;
      outline: none;
      border: 2px solid #121b46;
      cursor: pointer;
      font-weight: 600;
      z-index: 0;
      position: relative;
      overflow: hidden;
}

.btn::before{
             content: "";
             position: absolute;
             top: 0;
             left: 0;
             background: #e8e7e7;
             height: 100%;
             width: 00%;
             z-index: -1;
             transition: .3s;
}

.btn:hover:before{
                  width: 100%;
}

.btn:hover{
           color: #121b46;
}

.btn-explore{
                     background: transparent;
                     color: #121b46;
                     margin-left: 20px;
}

.btn-explore::before{
                     background: #121b46;
}

.btn-explore:hover{
                   color: #fff;
}

section{
        padding: 10rem 9% 2rem;
        background: #e8e7e7;
}

.home-section{
               height: 100vh;
               width: 100%;
               display: flex;
               justify-content: space-between;
               align-items: center;
}

.home-section .text-content h5{
                               font-size: 20px;
                               color: #25ad61;
                               font-weight: 500;
}

.home-section .text-content h2{
                               font-size: 75px;
                               color: #3d3f56;
                               font-weight: 600;
}

.home-section .text-content p{
                              max-width: 600;
                              color: #222;
                              font-weight: 500;
}

.home-section .text-content .btn{
                                 margin-top: 20px;
}

.home-section .image-section img{
                                 width: 40vw;
                                 animation: Bounce 4s ease forwards infinite;
}

@keyframes Bounce{
                  0%{
                     transform: translateY(-24px);
                  }
                  50%{
                      transform: translateY(0px);
                  }
                  100%{
                    transform: translateY(-24px);
                 }
}

.home-section .image-section .shadow{
                                     background-color:rgba(0,0,0,.4);
                                     height: 20px;
                                     border-radius: 50%;
                                     box-shadow:0 0 20px rgba(0,0,0,.4);
                                     filter: blur(5px);
                                     width: 40vw;
                                     animation: BounceIn 4s ease forwards infinite;

}

@keyframes BounceIn{
    0%{
       transform: translateY(24px) scale(.5);
    }
    50%{
        transform: translateY(0px) scale(1);
    }
    100%{
      transform: translateY(24px) scale(.5);
   }
}

.Dishe-section{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                width: 100%;
                height: 100%;
                padding: 10rem 0% 3rem;
}


.heading{
         font-size: 36px;
         text-align: center;
}
.heading span{
              color: #25ad61;
}

.dishGallery{
             display: flex;
             justify-content: center;
             width: 100%;
}

.dishGallery .food-image{
                         height: 300px;
                         width: 200px;
                         padding: 0 25px 0 0;
                         box-shadow: 0 0 3px #222;
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         flex-direction: column;
                         position: relative;
                         border-radius: 5px;
                         margin-left: 40px;
}

.food-image img{
                 width: 250px;
                 position: absolute;
                 top: -30%;
                 align-items: center;
                 align-self: center;
                 align-content: center;

}

.inner-text{
             margin-top: 100%;
             text-align: center;
}

.inner-text h2{
                font-size: 25px;
}

.inner-text p{
               text-align: center;
               justify-content: center;
               font-size: 12px;
               max-width: 200px;
               color: #555;
}
.price-section{
               margin-top: 10px;
               width: 105%;
               padding-left: 10px;
               display: flex;
               justify-content: space-between;
               align-items: center;
}

.price-section span{
                    height: 35px;
                    width: 90px;
                    border: 2px solid#25ad61;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                    border-radius: 50px;
}


.buy-now-btn{
             height: 35px;
             width: 90px;
             border: 2px solid#25ad61;
             display: flex;
             justify-content: center;
             align-items: center;
             font-size: 14px;
             border-radius: 50px;
}

.buy-now-btn:hover{
                    background-color: #25ad61;
}


#show-final-bill-btn{
                   
                    position: absolute;
                    float: right;
} 

#final-bill-section{
                    margin-left: 30%;
                    justify-content: center;
                    font-size: 16px;
                    font-family: 'Times New Roman', Times, serif;
                    font-weight: 500;
                    color: #222;
                    background-color: #e8e7e7;
                    
}
#shopping-cart-section{
    background-color: #e8e7e7;
}
#final-bill-list{
    border: 2px solid black;
    width: 200px;
}
#total-bill{
    border: 2px solid black;
    font-weight: bold;
    width: 200px;
    text-align: center;
}
.btnn{
    height: 40px;
    width: 140px;
    border-radius: 8px;
    background-color: #e8e7e7;
    background: #121b46;
    color: #fff;
    font-size: 16px;
    outline: none;
    border: 2px solid #121b46;
    cursor: pointer;
    font-weight: 600;
    z-index: 0;
    position: relative;
    overflow: hidden;
    float: right;
    margin-left: 80%;
}